body {
    background-color: #e9f7f7;
}
h1 {
    font: 30px Ubuntu;
    text-align: center;
}
h2 {
    font: 20px Ubuntu;
    text-align: center;
}
li a {
    font: 15px Ubuntu;
}
table{
    margin-left: auto;
    margin-right: auto;
}
a{
    padding: 10px;
    border-color: #000000;
}
header {
    text-align: right;
    font: 10px Ubuntu Mono;
}
td {
    padding: 5px;
    font: 15px Ubuntu;
    border-bottom: 1px solid #000000;
}
tr:hover {
     background-color: #D6EEEE;
}
.confirm {
    background-color: rgb(218, 255, 243);
    border-style: dashed;
    border-color: #000000;
    font: 15px Ubuntu;
    width: 450px;
    margin: auto;
    padding: 10px;
}
.buttonflex {
    display: flex;
    justify-content: center;
    gap: 5%;
}

label {
    font: ubuntu 10px;
}

button, .submit {
    background-color: rgb(218,255,243);
    color: #000000;
    width: 100px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-width: 2px;
}
.submit {
    width: 120px;
}
.customform{
    width: 500px;
    margin: auto;
    background-color: rgb(218, 255, 243);
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

label {
    font: 15px Ubuntu;
}
input {
    float: right;
    font: 15px Ubuntu;
    width: 210px;
}
.options {
    width: 450px;
    margin: auto;
    background-color: rgb(218, 255, 243);
    border-style: solid;
    border-radius: 5px;
    border-color: black;
}
.button {
    margin-top: 10px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}
.explaination {
    font: 20px Ubuntu;
    width: 90%;
    margin: auto;
    background-color: rgb(218, 255, 243);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}
